VITE_SUPABASE_URL=https://crtdibsbajclordqbaqa.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_3NiPaiANbuG3Nd0roao8Vw_Fj4NsJx2
VITE_SUPABASE_PROJECT_ID=crtdibsbajclordqbaqa
SUPABASE_URL=https://crtdibsbajclordqbaqa.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_3NiPaiANbuG3Nd0roao8Vw_Fj4NsJx2
NITRO_PRESET=vercel
