# TanStack Start SSR : ajoute ces variables dans Vercel > Settings > Environment Variables.

VITE_SUPABASE_URL=https://TON-PROJET.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=TON_ANON_OU_PUBLISHABLE_KEY
VITE_SUPABASE_PROJECT_ID=TON_PROJECT_ID
SUPABASE_SERVICE_ROLE_KEY=TA_CLE_SERVICE_ROLE_SERVEUR
